@{
    ViewData["Title"] = "Ödəniş Ləğv Edildi";
}

<h1>Ödənişiniz Ləğv Edildi</h1>
<p>Ödənişiniz ləğv olundu. Zəhmət olmasa yenidən cəhd edin.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Əsas Səhifəyə Dön</a>
