@{
    ViewData["Title"] = "Ödəniş Uğurlu";
}

<h1>Ödənişiniz Uğurla Tamamlandı!</h1>
<p>Təşəkkür edirik! Ödənişiniz uğurla qəbul edilib.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Əsas Səhifəyə Dön</a>
