<!-- find course section start  -->

<section class="feature" id="feature">
	<div class="container">
		<div class="row">
			<div class="col-3" style="background: #F36371; color: #fff;">
				<div class="wrap">
					<h3>About the Course</h3>
					<p class="text">The course is presented with lessons prepared by experienced professionals, rich in practical experience, easy to understand, and application-oriented.</p>
					<a href="">Learn More</a>
				</div>
			</div>
			<div class="col-3" style="background: #E5B14C; color: #fff;">
				<div class="wrap">
					<h3>Opening Hours</h3>
					<div class="time">
						<p>Weekdays<span>8:00 AM - 10:00 PM</span></p>
						<p>Saturday <span>8:00 AM - 6:00 PM</span></p>
						<p>Sunday <span>8:00 AM - 6:00 PM</span></p>
					</div>
					<a href="">Learn More</a>
				</div>
			</div>
			<div class="col-6" style="background: #098; color: #fff;">
				<div class="wrap">
					<h3>Select Course</h3>
					<form>
						<div class="input-site">
							<div class="w-50">
								<select name="" id="course">
									<option value="">Select Course</option>

									<option value="">Web Design</option>
									<option value="">UI & UX Desing</option>
									<option value="">Digital Marketing</option>
								</select>
								<input type="number" id="number" placeholder="Phone">
								<input type="date" id="date">
							</div>
							<div class="w-50">
								<input type="text" id="name" placeholder="Name">
								<input type="email" id="email" placeholder="Email" placeholder="Phone">
								<input type="submit" value="Send Message">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
